*.iml
.gradle
/build
/captures
.externalNativeBuild
.cxx
.DS_Store

/local.properties
local.properties
config.properties
app/libs/*.aar
app/src/main/assets/**/*.tmp

.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/dictionaries/
!.idea/vcs.xml
