<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Just for PlayerIO, we shouldn't be hitting the internet under any other circumstances -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenBubblesSampleExtension"
        tools:targetApi="31">
        <activity
            android:name=".connect.ConnectActivity"
            android:exported="false"
            android:process=":godot" />
        <activity
            android:name=".checkers.CheckersActivity"
            android:exported="false"
            android:process=":godot" />
        <activity
            android:name=".basketball.BasketballActivity"
            android:exported="false"
            android:process=":godot" />
        <activity
            android:name=".darts.DartsActivity"
            android:exported="false"
            android:process=":godot" />
        <activity
            android:name=".wordhunt.WordHuntActivity"
            android:exported="false"
            android:theme="@style/Theme.OpenBubblesSampleExtension" />
        <activity
            android:name=".battleship.BattleshipActivity"
            android:exported="false"
            android:theme="@style/Theme.OpenBubblesSampleExtension" />
        <activity
            android:name=".crazy8.Crazy8Activity"
            android:exported="false"
            android:theme="@style/Theme.OpenBubblesSampleExtension"
            android:windowSoftInputMode="adjustResize"/>

        <receiver
            android:name=".KeyboardClickReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".MadridExtensionService"
            android:enabled="true"
            android:exported="true">
            <meta-data
                android:name="madrid_icon"
                android:resource="@drawable/madrid_icon" />
            <meta-data
                android:name="madrid_id"
                android:value="1124197642" />
            <meta-data
                android:name="madrid_name"
                android:value="GamePigeon" />
            <meta-data
                android:name="madrid_bundle_id"
                android:value="com.apple.messages.MSMessageExtensionBalloonPlugin:EWFNLB79LQ:com.gamerdelights.gamepigeon.ext" />
        </service>
        <service
            android:name=".godot.GameSessionService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.openbubblesextension.IGameSession" />
            </intent-filter>
        </service>
    </application>

</manifest>